html { 
background: url(../images/bg.jpg) no-repeat center center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.row
{
  margin-top: 500px;
  background: black;
}
.masks
{
width: 70%;
}

  