.logo{color: #fff;}
.container{
  /*background: url(../images/bg.jpg) no-repeat center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-indicators{display:none;}
html,body{background-color: #000!important;}
.row
{
  margin-top: -20%;
  background: rgba(0, 0, 0, 0.6);
}
.masks
{
width: 70%;
}

  